<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="MyCompanyFeed" value="https://pkgs.dev.azure.com/myorg/_packaging/MyFeed/nuget/v3/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <MyCompanyFeed>
      <add key="Username" value="%FEED_USERNAME%" />
      <add key="ClearTextPassword" value="%FEED_PASSWORD%" />
    </MyCompanyFeed>
  </packageSourceCredentials>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="MyCompanyFeed">
      <package pattern="MyCompany.*" />
    </packageSource>
  </packageSourceMapping>

  <config>
    <add key="globalPackagesFolder" value=".nuget/packages" />
    <add key="repositoryPath" value="packages" />
  </config>

  <disabledPackageSources>
    <!-- <add key="SomeUntrustedSource" value="true" /> -->
  </disabledPackageSources>

  <fallbackPackageFolders>
    <!-- <add key="offlineFeed" value="C:\LocalNuGetFeed" /> -->
  </fallbackPackageFolders>
</configuration>