# Gitea Configuration
Gitea__Url=https://gitea.pingkunga.dev
Gitea__AccessToken=dce133603bef7ad9d08a5e8c55796c0e17105964
Gitea__WebhookSecret=webhook$ecrests

# Cloudflare Access (Optional) 
# if Gitea is behind Cloudflare Zero Trust
Gitea__CfClientId=f95d3da4131893ff3f069b717dc33a19.access
Gitea__CfClientSecret=af43745da2060fb008463ae05c599c814df0cc7f83ca8e3d616a8d391de41ac9

# AI Configuration
# ENGINE_TYPE: Azure | OpenAI | Ollama | Gemini | Anthropic
AI__ENGINE_TYPE=Azure
AI__ENDPOINT=https://sample-resource.openai.azure.com/openai/v1/
AI__MODEL_NAME=gpt-5.4-nano
AI__API_KEY=sample-api-key

# General Settings
AdminToken=your_admin_secret_token
MaxDiffSizeKb=50

# Logging
Logging__LogLevel__Default=Information
Serilog__MinimumLevel__Default=Information
